body {
    background:  white;
}

h1 { font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 34px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 1;
    color:#262821} 
h2 { font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 28px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 1.5; 
    color:#262821}
h3 { font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 1.5; 
color:#262821}
h4 {font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 1.5; 
color:#262821}
p { font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.5; }
blockquote { font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.5; }
pre { font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.5; }
li { font-family: "Helvetica Neue", Helvetica, Verdana, Geneva, Tahoma, sans-serif, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1.5; }

#toggle{
    cursor: pointer;
}

a {
    cursor: pointer;
    color:black;
  }
  

html {
    scroll-behavior: smooth;
  }

#toggle-text {
    display: none;
  }
  
#toggle-logo {
    height: 1.2em;
    display: inline-block;
  }

#toggle-container {
    display: flex;
    align-items: center;
  }
  
button {
    border: none;
    background-color: transparent;
    display: inline-block;
    padding: 0;


  }


/* navbar */
.navbar {
    background: white;
}
.nav-link {
    color:white;
}
.navbar-brand {
    color: black;
    cursor: pointer;
}
.nav-link {
    color: black;
    margin-right: 1em !important;
}

.img-profile{
    width: 30px;
    margin-left: auto; margin-right: auto;
}

.img-profile:hover{
    opacity: 0.7;
}

.navbar-brand:hover {
    color: #C1C4B7;
}
.nav-link:hover {
    color: #E0E1DB;
}
.navbar-collapse {
    justify-content: flex-end;
}

/* intro */
#intro {
    display: table;
}

#intro_p {display: table-cell; vertical-align: middle;}


/* body */
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #415C8B;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
#project-img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
    border-radius: 25px;
}

.desc {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
      
.wrapper:hover .desc {
    display: block;
  }
/* project */
.project-section {
    background-color: #f5f7fa;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 0 auto;
    max-width: 960px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    height: 400px;
  }
  .card-img-top {
    max-width: 100%;
    max-height: 80%;
    height: auto;
    object-fit: cover;
  }
  
  .card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
  }
  .card-text{
      padding-top: 3px;
  }

.card:hover {
    opacity:0.8;
}

.column-half-1 {
    float: left;
}
.column-half-2 {
    float: right;
}

.carousel-container {
    max-height: 500px; /* Set the maximum height of the container */
  }
  
  .carousel-item img {
    object-fit: contain; /* Scale the images to fit within the container */
    max-height: 100%; /* Ensure the images don't exceed the height of the container */
    max-width: 100%; /* Ensure the images don't exceed the width of the container */
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
/* footer */
.page-footer {
    padding: 60px 0 30px;
}
.footer-copyright {
    color: black;
    padding: 40px 0;
}
footer {
    padding-top: 15px;
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
  }
  
  .contact-form input[type="text"]:focus,
  .contact-form input[type="email"]:focus,
  .contact-form textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  .contact-form button[type="submit"] {
    background-color: #343a40;
    border: none;
    border-radius: 0;
  }
  

